@media (max-width: 785px) {
    /* get rid of red line for mobile */
    body::before, main::before {
        top: 0;
        left: 0; /* spacing from the left margin to vertical red line */
        width: 3px; /* width of the vertical line */
        background-color: rgba(255, 0, 0, 0);

    }

    /* for the blue vertical line */
    body::after, main::after {
        content: '';
        position: absolute;
        top: 0;
        right: 100px; /* spacing from the right margin to vertical blue line */

    }

    .margin-right-plus-2 {
        margin-right: 10px;
    }
    .margin-left-right-plus-3 {
        margin-left: 2vw;
        margin-right: 30px;
    }

    .submission-info {
        margin-left: 2vw; /* spacing from the left side */
    
    }

    .header.flex-column p {
        font-size: 1rem;
    }

    .submission-info h1 {
        font-size: 1.5rem;
    }}