@media (max-width: 785px) {
    /* get rid of red line for mobile */
    body::before, main::before {
        top: 0;
        left: 0; /* spacing from the left margin to vertical red line */
        width: 3px; /* width of the vertical line */
        background-color: rgba(255, 0, 0, 0);

    }

    /* for the blue vertical line */
    body::after, main::after {
        content: '';
        position: absolute;
        top: 0;
        right: 100px; /* spacing from the right margin to vertical blue line */

    }

    .margin-right-plus-2 {
        margin-right: 26px;
    }
    .margin-left-right-plus-3 {
        margin-left: 2vw;
        margin-right: 30px;
    }

    .submission-info {
        margin-left: 2vw; /* spacing from the left side */
    
    }

    .header.flex-column p {
        font-size: 1rem;
    }

    .submission-info h1 {
        font-size: 2rem;
    }


    .margin-top-large {
        margin-top: 5rem;
    }

    .notebook-paper p.instruction {
        font-size: 1.5rem;
    }

    .play-area .tic-tac-toe {
        position: relative;
        width: 300px;
        height: 300px;
        margin: 40px auto;
    }
    .game-grid .grid-cell {
        width: 95px;
        height: 94px;
    }

    .modal-content {
        background-image: url(../images/designs/note.png);
        background-image: url(../images/designs/note.png);
        margin-top: 0;
        max-width: 357px;
        height: 964px;}

    .mobile-margin-top-large {
            margin-top: 8rem;
        }

    .close {
        margin-top: 1rem;
    }

    .game-grid .grid-cell.move-1:hover, .game-grid .grid-cell.taken-cat-1, 
    .game-grid .grid-cell.move-2:hover, .game-grid .grid-cell.move-3:hover,
    .game-grid .grid-cell.taken-mouse-1, .game-grid .grid-cell.taken-mouse-2 {
        width: 96px;
        height: 91px;
    }

    .game-grid .grid-cell.dancing-cat {
        background-image: url(../images/characters/cat/dancing-cat.gif);
        background-repeat: no-repeat;
        background-position: center center;
        width: 94px;
        height: 89px;
        background-size: 80%;
    }

    .waviy span.margin-left-plus-1 {
        margin-left: 1rem;
    }

}


@media (max-width: 880px) {
    .play-area .waviy {
        font-size: 1.5rem;
    }

    .game-grid .grid-cell.crying-mouse{
        width: 64px;
        height: 153px;
    }
    
    .game-grid .grid-cell.angry-mouse{
        width: 64px;
        height: 153px;
    }
    .waviy .span .margin-left-plus-1 {
        margin-left: 1rem;
    }
        
}

@media (max-width: 785px) {

    .game-grid .grid-cell.crying-mouse{
        height: 94px;
    }
    
    .game-grid .grid-cell.angry-mouse{
        height: 94px;
    }
    .waviy span.margin-left-plus-1 {
        margin-left: 1rem;
    }
        
}


    
@media (max-width: 1244px) {
        .button-group.flex-row {
            flex-direction: column;
            justify-content: flex-start;
        }
        .bot-button, .bot-button:hover, .human-button, .human-button:hover   {
            height: 99px;
            width: 180px;
        
        }
        .bot-button, .bot-button:hover, .human-button, .human-button:hover, .hard-button, .hard-button:hover, .easy-button, .easy-button:hover, .medium-button, .medium-button:hover {
            background-repeat: no-repeat;
            background-size: contain;
            height: 139px;
            width: 250px;
        }
        .margin-top-large {
            margin-top: 5rem;
        }
}

@media (max-width: 978px) {
    .notebook-paper .nav-buttons {
        margin: 16px 171px 0 11vw;
        margin-top: 16px;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        gap: 10px;
    }
    .waviy span.margin-left-plus-1 {
        margin-left: 1rem;
    }
}

.flex-row.width-100.align-flex-end {
    margin-bottom: -0.4rem;
}