
@font-face {
    font-family: 'Olive-writing';
    src: url('../fonts/Olive_writing-Regular.otf') format('truetype');
  }


@font-face {
  font-family: 'Olive-font';
  src: url('../fonts/Olive_full_font-Regular.otf') format('truetype');
}

  body {
    font-family: 'Olive-writing', 'Cursive', Georgia, serif;
    line-height: normal;
  }
  
  h1 {
    font-family: 'Olive-writing', 'Cursive', Georgia, serif;
    font-size: 3.5rem;
}

.modal 
h2 {
  font-family: 'Olive-writing', 'Cursive', Georgia, serif;
  font-size: 2.5rem;
  color: red;
}
p {

  font-size: 1.5rem;
  line-height: 1.3;
}

p.date {
  font-family: 'Olive-font';
}

.red-ink {
  display: inline-block; /* Allows transform to affect the span */
  color: red;
}


.header p {
  font-family: 'Olive-font';
}

p.instruction {
    font-size: 2.5rem;
    text-align: center;
}


.waviy {
  position: relative;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}
.waviy span {
  font-family: 'Olive-writing', 'Cursive', Georgia, serif;
  position: relative;
  display: inline-block;
  color: #000000;
  animation: waviy 1s infinite;
  animation-delay: calc(.05s * var(--i));
  
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.stop-animation {
  animation: none;
}

@keyframes text-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

p.text-bounce {
  animation: text-bounce 2s infinite; 
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  display: inline-block;
  /* Add your other button styling here */
  animation: shake 0.5s; /* adjust timing as needed */
  animation-iteration-count: infinite;
}
